.idea/
__pycache__/
*.egg-info/
logs/
None/
dist/
.pytest_cache/
.DS_Store
loco_mujoco/datasets/
mushroom_rl_recordings/
LocoMuJoCo_recordings/
record_all/
_build/
wandb/
ckpts/
outputs/
multirun/
home/
loco_mujoco/smpl/conf_paths.yaml
data/
*.vscode
